.edys-gal-gallery-overlay, .edys-gal-gallery-overlay-touch, .edys-gallery-overlay, .edys-gallery-overlay-touch {
  position: fixed;
  background: #000000;
  opacity: 0.75;
  filter: alpha(opacity = 50);
  z-index: 1001;
  margin:0; padding:0;
  overflow: hidden;
  left:0; top:0;
}
.edys-gal-gallery-popup, .edys-gallery-popup, .edys-gal-gallery-popup-touch, .edys-gallery-popup-touch {
  position: absolute;
  z-index: 1000;
  margin:0; padding:0;
  text-align: center;
  font-family: Helvetica, Arial;
  height: 100%;
  width: 100%;
  left:0; top:0;
  overflow: hidden;
}
.edys-gal-gallery-popup-touch, .edys-gallery-popup-touch {
  text-align: left;
}
.edys-gal-gallery-close, .edys-gallery-close, .edys-gal-gallery-close-touch, .edys-gallery-close-touch {
  background: url("close.gif") no-repeat;
  width: 33px;
  height: 33px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
.edys-gal-gallery-bottom-btns, .edys-gallery-bottom-btns, .edys-gal-gallery-bottom-btns-touch, .edys-gallery-bottom-btns-touch {
  background: rgb(38,44,47);
  background: rgba(27,33,36,0.8);
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0.5%;
  left: 50%;
  margin-left: -97px;
  z-index: 1004;
}
.edys-gal-gallery-btn-wrap, .edys-gallery-btn-wrap, .edys-gal-gallery-btn-wrap-touch, .edys-gallery-btn-wrap-touch {
  width: 48px; height: 48px;
  display: inline-block;
  vertical-align: middle;
  line-height: 48px;
  text-align: center;
}
.edys-gallery-btn-wrap-middle, edys-gal-gallery-btn-wrap-middle, .edys-gallery-btn-wrap-middle-touch, edys-gal-gallery-btn-wrap-middle-touch {
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: #3c4143;
  padding: 0 10px;
  text-align: center;
}
.edys-gal-gallery-content-wrap, .edys-gallery-content-wrap {
  clear: both;
  position: absolute;
  text-align: center;
  z-index: 1003;
}
.edys-gal-gallery-content-wrap-touch, .edys-gallery-content-wrap-touch {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1003;
  margin-top: 0.5%;
}
.edys-gal-gallery-image-wrap, .edys-gallery-image-wrap {
  box-shadow: 2px 0px 10px #000000;
  overflow: hidden;
}
.edys-gal-gallery-image-wrap img, .edys-gallery-image-wrap img {
  display: block;
  border:0;
  margin:0;
}
.edys-gal-gallery-image-wrap-box-touch, .edys-gallery-image-wrap-box-touch {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: -30px;
  text-align: center;
}
.edys-gal-gallery-image-wrap-box-touch img, .edys-gallery-image-wrap-box-touch img{
  box-shadow: 2px 0px 10px #000000;
}
.edys-gal-gallery-image-wrap-touch, .edys-gallery-image-wrap-touch{
  position: relative;
  white-space:nowrap;
}
.edys-gal-gallery-right, .edys-gallery-right, .edys-gal-gallery-right-touch, .edys-gallery-right-touch {
  background: url("right_arrow.gif") no-repeat 8px center;
  width: 41px;
  height: 41px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
.edys-gal-gallery-left, .edys-gallery-left, .edys-gal-gallery-left-touch, .edys-gallery-left-touch {
  background: url("left_arrow.gif") no-repeat 8px center;
  width: 41px;
  height: 41px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
.edys-gal-gallery-loading, .edys-gallery-loading {
  position: absolute;
  z-index: 1010;
  background: url('wait.gif') no-repeat;
  height: 32px;
  width: 32px;
}
.edys-gal-gallery-loading-touch, .edys-gallery-loading-touch {
  background: url('wait.gif') no-repeat center 0;
  height: 32px;
  width: 100%;
  display: block;
  clear:both;
}
.edys-gal-gallery-title, .edys-gallery-title{
  background: rgb(38,44,47);
  background: rgba(27,33,36,0.8);
  color: #ffffff;
  display: inline-block;
  position: relative;
  z-index: 1010;
  bottom: 52px;
  line-height: 18px;
  border-radius: 4px;
  padding: 7px 20px;
  font-size: 14px;
}
.edys-gal-gallery-title-touch, .edys-gallery-title-touch {
  background: rgb(38,44,47);
  background: rgba(27,33,36,0.8);
  color: #ffffff;
  display: inline-block;
  position: relative;
  z-index: 1010;
  top: 40px;
  line-height: 18px;
  border-radius: 4px;
  padding: 7px 20px;
  font-size: 14px;
}
.edys-gal-gallery-title-touch.edys-gal-gallery-title-notitle-touch, .edys-gallery-title-touch.edys-gallery-title-notitle-touch {
  visibility: hidden;
}