

.edys-gal-gallery-overlay, .edys-gal-gallery-overlay-touch {
  position: absolute;
  background: #000000;
  opacity: 0.5;
  filter: alpha(opacity = 50);
  z-index: 1000;
  margin:0; padding:0;
  overflow: hidden;
  left:0; top:0;
}

.edys-gal-gallery-popup {
  position: absolute;
  z-index: 1001;
  box-shadow: 0 0 10px #000000;
  margin:0; padding:0;
}

.edys-gallery-popup-touch {
  position: absolute;
  z-index: 1001;
}
  
.edys-gal-gallery-close {
  right: 0;
  width: 0px; 
  height: 0px; 
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  margin-right:-10px;
  margin-top:-10px;
  position: absolute;
  border-color: #ffffff #dddddd;
  opacity: 0.5;
  filter: alpha(opacity = 50);
  cursor: pointer;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  z-index: 1003;
  background: url('pixel.gif');
}

.edys-gal-gallery-close-touch {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff #dddddd;
  float: right;
  margin-bottom: 0px;
  z-index: 1003;
} 

.edys-gal-gallery-content-wrap-touch{
  clear: both;
}

.edys-gal-gallery-close:hover{
  width: 10px;
  height: 10px;
  border-radius: 15px;
  margin-right:-15px;
  margin-top:-15px;
}

.edys-gal-gallery-image-wrap img {
  display: block;
  border:0;
  margin:0;
}

.edys-gal-gallery-left-wrap {
  position: absolute;
  width: 50%;
  height: 100%;
  left:0;
  z-index: 1002;
  cursor:pointer;
  background: url('pixel.gif');
}

.edys-gal-gallery-right-wrap {
  position: absolute;
  width: 50%;
  height: 100%;
  right:0;
  z-index: 1002;
  cursor:pointer;
  background: url('pixel.gif');
}

.edys-gal-gallery-right {
  float: right;
  top: 40%;
  position: relative;
  width: 0px; 
  height: 0px; 
  border-style: solid;
  border-width: 30px;
  border-color: transparent;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  opacity: 0.5;
  filter: alpha(opacity = 50);

}

.edys-gal-gallery-left {
  top: 40%;
  position: relative;
  width: 0px; 
  height: 0px; 
  border-style: solid;
  border-width: 30px;
  border-color: transparent;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
   opacity: 0.5;
  filter: alpha(opacity = 50);
}

.edys-gal-gallery-right-wrap:hover .edys-gal-gallery-right{
  border-color: transparent transparent transparent #ffffff;
}

.edys-gal-gallery-left-wrap:hover .edys-gal-gallery-left { 
  border-color: transparent #ffffff transparent transparent;
}

.edys-gal-gallery-loading {
  position: absolute;
  z-index: 1010;
  background: url('wait.gif') no-repeat;
  height: 32px;
  width: 32px;
}

.edys-gal-gallery-title{
  background: #333333;
  color: #ffffff;
  text-align: center;
  line-height: 2em;
  overflow: hidden;
  position: relative;
  z-index: 1010;
  width: 100%;
}

.edys-gal-gallery-image-wrap-box-touch {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.edys-gal-gallery-image-wrap-touch{
  position: relative;
  white-space:nowrap;
}

.edys-gal-gallery-title-touch{
  clear:both;
  display: inline;
  padding: 3px 6px;
  line-height: 25px;
  font-size: 12px;
  background: #333333;
  margin: 3px; 
  border-radius: 5px;
  color: #ffffff;
}

.edys-gal-gallery-title-touch.edys-gal-gallery-title-notitle-touch{
  visibility: hidden;
}

.edys-gal-gallery-content-wrap-touch{
  width: 100%;
  overflow: hidden;
}